/*  navbar section start */
.sticky-top{
    top: -150px;
    transition: .5s;
}
a{
    text-decoration: none !important;
    list-style: none !important;
}
.navbar{
    padding: 11px 0 !important;
    height: 75px;
}
.navbar-brand{
    color: #ffff !important;
}
.tech-white{
    color: #fff !important;
    font-weight:900;
}
.tech-dark{
    color: #14183e !important;
}
.navbar-nav .nav-link{
    margin-right: 35px;
    padding: 0;
    color: rgba(255, 255,  255, .7);
    outline: none;
}
.navbar-nav .nav-link:active{
    color: rgba(255, 255,  255, 1);
}
/*   navbar section end */

/* hero section start */
.hero-header{
    margin-top: -75px;
    background-image: url("../img/hero.png");
    background-repeat: center center no-repeat;
    background-size: cover;
}
.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--bs-light);
}
/* hero section end */
/* about section start */
.about-img {
    position: relative;
    overflow: hidden;
}
.about-img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/bg-about.png");
    background-repeat: left no-repeat;
    background-size: contain;
}
.text-primary{
    color: #1363c6;
}
h6{
    font-weight: 500 !important;
}
.btn-square{
     padding: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50px !important;
}
/* about section end */
/* why choose section start */
.feature{
    background-image: url("../img/hero.png");
    background-repeat: center no-repeat;
    background-size: cover;
}
.bg-primary{
    background-color: #1363C6 !important;
}
.btn-sm-square{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
}
h2{
    font-weight: 700;
}
/* why choose section end */
/* team section start */
.bg-light{
    background-color: #f4f7f6 !important;
}

.team-item{
    transition: .5s;
    border: 1px solid transparent;
}
.team-item:hover{
    border: 1px solid #1363c6;
}
/* team section end */
/* newsletters ection start*/
.newsletter{
    background: url("../img/hero.png");
    background-repeat: center no-repeat;
    background-size: cover;
    }
    /* newsletter section end */
    /* footer section start */
.footer{
    background: url("../img/footer.png");
    background-repeat: center center no-repeat;
    background-size: contain;
}
.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}
.footer .btn.btn-social:hover{
    background-color: var(--bs-light);
    color: var(--bs-primary);
}
.footer .btn.btn-link  {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255, 255, 255, .5);
    font-weight: normal;
    transition: .3s;
}
.footer .btn.btn-link:hover{
    color:#FFFFFF;
    letter-spacing: 1px;
    box-shadow: none;
}
.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.footer .copyright a {
    color: rgba(255, 255, 255, .5);
}
.footer .copyright a:hover {
    color: #FFFFFF;
}
.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}
.footer .footer-menu a:hover{
    color: var(--bs-light);
}
.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
.btn-lg-square{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px !important;
}
.btn-lg-square {
    width: 48px;
    height: 48px;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
/* footer section end */